@page
@model finalproject3312.Pages_Players.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Username)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.Favorite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.Favorite)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.KillCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.KillCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.RunDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Player.RunDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Player.PlayerCharacters)
        </dt>
        <dd class="col-sm-10">
            @foreach(var character in Model.Player.PlayerCharacters!)
            {
                <form method="post">
                    <input type="hidden" asp-for="CharacterIDToDelete" value="@character.Character.CharacterID"/>
                        @Html.DisplayFor(model=>character.Character.Description)
                    <button type="submit" class="btn btn-danger btn-sm my-1" asp-page-handler="DropCharacter" asp-route-id="@Model.Player.PlayerID">Delete Character</button>
                    <br>
                </form>
            }
        </dd>
        <form method="post">
            <div class="row align-items-center">
                <dt class="col-sm-2">
                    <label asp-for="CharacterIDToAdd" class="control-label"></label>
                </dt>
                <div class="col-auto">
                    <select asp-for="CharacterIDToAdd" asp-items="Model.CharactersDropDown" class="form-select">
                        <option value="">Choose...</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary" asp-page-handler="AddCharacter" asp-route-id="@Model.Player.PlayerID">Add Character</button>
                </div>
                <div class="col-auto">
                    <span asp-validation-for="CharacterIDToAdd" class="text-danger"></span>
                </div>
            </div>
        </form>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Player.PlayerID">Edit</a> |
    <a asp-page="./Index">Back to Dashboard</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}