@page
@model finalproject3312.Pages_Players.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<div class="row">
    <form class="d-flex" role="search" asp-page="./Index" method="get">
        <div class="col-3">
            <div class="input-group">
                <span class="input-group-text"><i class="bi bi-search"></i></span>
                <input class="form-control me-2" type="search" name="CurrentSearch" value="@Model.CurrentSearch" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @{
                    var firstSort = "first_asc";
                    if (Model.CurrentSort == "first_asc")
                    {
                        firstSort = "first_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@firstSort" asp-route-PageNum="@Model.PageNum">@Html.DisplayNameFor(model=>model.Player[0].Username)</a>
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Player[0].Favorite)
            </th>*@
            <th>
                @{
                    var killcountSort = "killcount_asc";
                    if(Model.CurrentSort=="killcount_asc")
                    {
                        killcountSort = "killcount_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@killcountSort" asp-route-PageNum="@Model.PageNum">@Html.DisplayNameFor(model => model.Player[0].KillCount)</a>
            </th>
            <th>
                @{
                    var dateSort = "date_asc";
                    if(Model.CurrentSort=="date_asc")
                    {
                        dateSort = "date_desc";
                    }
                }
                <a asp-page="./Index" asp-route-CurrentSort="@dateSort" asp-route-PageNum="@Model.PageNum">@Html.DisplayNameFor(model => model.Player[0].RunDate)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Player[0].PlayerCharacters)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Player) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Favorite)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.KillCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunDate)
            </td>
            <td>
                @foreach (var character in item.PlayerCharacters!)
                {
                    @character.Character.Name<br/>
                }
                @if (item.PlayerCharacters.Count == 0)
                {
                    @:No Runs Recorded
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PlayerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PlayerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PlayerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr />
@{
    var prevDisabled = "";
    var nextDisabled = "";
    if (Model.PageNum <= 1)
    {
        prevDisabled = "disabled";
    }
    if (Model.PageNum >= Model.TotalPages)
    {
        nextDisabled = "disabled";
    }
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item @prevDisabled"><a class="page-link" asp-page="./Index" asp-route-CurrentSort="@Model.CurrentSort" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item @nextDisabled"><a class="page-link" asp-page="./Index" asp-route-CurrentSort="@Model.CurrentSort" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>